%%% -*- mode: erlang -*-

%% Erlang files to compile before the rest.
{erl_first_files, ["src/ubf_gdss_plugin.erl", "src/tbf_gdss_plugin.erl"]}.

%% Erlang compiler options
{erl_opts, [fail_on_warning
            , {i, "./priv/"}
            , {i, "./ebin/"}
            , {i, "../ubf/include/"}
            , {i, "../gmt-util/include/"}
            , {d, new_inets}
           ]}.
